#root {
    font-family: Comic Sans MS;
    height: 90%;
    width: 90%;
    margin: 4% auto;
    border: 5px double black;
    background-color: hotpink;
}
body {
    background-color: hotpink;
}
#weather_icon {
    width: 40%;
    margin: 10px;
    padding-left: 25px;
    float: left;
}
#temp {
    font-size: 60px;
    margin-top: 17.5%;
}
h1 {
    font-size: 120px;
}
h2 {
    font-size: 72px;
    margin-left: 20%;
}
h3 {
    font-size: 42px;
    margin: 10px;
}
p {
    font-size: 24px;
    margin: 10px;
}
#xkcd_title {
    font-size: 90px;
}
.col-md-6 {
    padding: 5px 20px;
}