#root {
    font-family: Comic Sans MS;
    background-color: hotpink;
    height: 100%;
    width: 100%;
}
#weather_icon {
    width: 100%;
    margin: 10px;
    margin-right: 0px;
    padding-right: 0px;
}
#wicon {
    width: 100%;
}
#temp > h3 {
    font-size: 60px;
    height: 100%;
    margin-top: 55%;
    margin-left: 0px;
    padding-left: 0px;
}
h1 {
    font-size: 96px;
}
h2 {
    font-size: 72px;
}
h3 {
    font-size: 42px;
    margin: 10px;
}
p {
    font-size: 24px;
    margin: 10px;
}